/* ----Hero----- */

/* ----Overlay---- (изменить класс и задать на бекграунд тег див??? */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding: 200px 0;
  &__container {
    width: 696px;
  }
  &__title {
    color: var(--main-title-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    display: inline-block;
  }
}
