:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-title-color: #ffffff;
  --background-color: #ffffff;
  --logo-white-color: #ffffff;
  --logo-black-color: #000000;
  --button-text-color: #ffffff;
  --team-section-color: #f5f4fa;
  --address-text-color: #ffffff;
  --hero-background-color: #2f303a;
}
